@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


h1 {
    margin-top: 51px;
    margin-bottom: 17px;
    font-size: 1.70em; /* H1 헤더 크기 */    
}

h2 {
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 1.50em; /* H2 헤더 크기 */
}

h3 {
    margin-top: 39px;
    margin-bottom: 13px;
    font-size: 1.30em; /* H3 헤더 크기 */
}

h4 {
    margin-top: 36px;
    margin-bottom: 12px;
    font-size: 1.20em; /* H3 헤더 크기 */
}

h5 {
    margin-top: 33px;
    margin-bottom: 11px;
    font-size: 1.10em; /* H3 헤더 크기 */
}

h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.00em; /* H3 헤더 크기 */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    content: '';
    display: block;
    height: 1px; /* 선의 두께 */
    background: #7f7f7f7f; /* 선의 색상 */
    width: 100%; /* 선의 너비 */
    margin-top: 2px; /* 헤더와 선 사이의 간격 */
}

p {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    text-indent: 0.0em; /* 원하는 만큼 들여쓰기 조정 */
}

/* 본문 폰트 크기 변경 */
body {
    font-size: 16px; /* 원하는 크기로 변경 */
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6; /* 줄간격 */ 
    letter-spacing: 0.00em; /* 자간 */
}

li {
    margin-left: 0px;
    text-indent: 0px;
    padding-left: 0px;
}

@page {
    margin-top: 5cm; /* 위 여백 */
    margin-bottom: 5cm; /* 아래 여백 */
}

.md-button {
    font-family: 'Roboto', sans-serif;
    padding: 24px 32px; /* 위아래, 좌우 여백 조정 */
    font-size: 22px;    /* 글자 크기 조정 */
}

/* 내비게이션 폰트 변경 */
.nav-link {
    font-family: 'Roboto', sans-serif; /* 원하는 폰트로 변경 */
    font-size: 16px; /* 원하는 폰트 크기로 변경 */
}

